@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");
html,
body,
#root,
.App .wrapper {
  height: 100%;
}

:root {
  --board-size: 600px;
  --border-color: #2b3741;
}

body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  height: 100%;
}

.container {
  height: 100%;
  display: block;
}

/*
 * Top Menu Css
 */

.menu-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  z-index: 999;
  box-sizing: border-box;
}

.menu-item-wrapper {
  flex: 1;
  display: block;
}

.menu-item {
  background-color: white;
  height: 20px;
  vertical-align: center;
  padding: 0.5em 1em;
  user-select: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid var(--border-color);
}

.menu-selected {
  background-color: rgb(140, 186, 255) !important;
}

.wrapper {
  position: absolute;
  z-index: 999;
  display: block;
  overflow: hidden;
  transition: max-height 400ms;
}

/*
 * Board Css
 */

.board-wrapper {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  max-width: 600px;
}

.board-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.box-wrapper {
  width: 11.11%;
  height: 11.11%;
  background-color: white;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: rgb(26, 24, 21);
}

.box {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.box-selected {
  background-color: rgb(155, 222, 243) !important;
}

.box-correct {
  background-color: rgb(155, 243, 174) !important;
}

.box-incorrect {
  background-color: rgb(255, 80, 80) !important;
}

.box-wrapper:nth-child(3n) {
  border-right: 3px solid var(--border-color);
}

.box-wrapper[data-x="0"] {
  border-top: 3px solid var(--border-color);
}

.box-wrapper[data-x="2"] {
  border-bottom: 3px solid var(--border-color);
}

.box-wrapper[data-x="5"] {
  border-bottom: 3px solid var(--border-color);
}

.box-wrapper[data-x="8"] {
  border-bottom: 3px solid var(--border-color);
}

.box-wrapper[data-y="0"] {
  border-left: 3px solid var(--border-color);
}

/* Input Section */
.input-board-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: var(--board-size);
}

.input-board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  flex: 1;
}

/* Media queries */

@media (hover: hover) {
  .menu-item:hover {
    background-color: rgb(218, 218, 218);
  }
  .box-wrapper:hover {
    background-color: rgb(218, 218, 218);
  }
}

@media only screen and (max-width: 600px) {
  .box-wrapper:nth-child(3n) {
    border-right: 2px solid var(--border-color);
  }

  .box-wrapper[data-x="2"] {
    border-bottom: 2px solid var(--border-color);
  }

  .box-wrapper[data-x="5"] {
    border-bottom: 2px solid var(--border-color);
  }
}
.board-wrapper:active,
.board-wrapper:focus {
  outline: 0;
  border: none;
  box-shadow: none;
  -moz-outline-style: none;
}
